/* 	    ____
	   / __ )____ _________
	  / __  / __ `/ ___/ _ \
	 / /_/ / /_/ (__  )  __/
	/_____/\__,_/____/\___/
							 */

/**
	=======================================
	INDEX =================================
	=======================================

	+ Generals
	+ Responsive Helpers
	+ Clear Fixes
	+ The Content
	+ Helpers

	=======================================
**/


/* Generals */
/*------------------------------------------------------------------------------------------------*/

::-moz-selection {

	background: #b3d4fc;
	text-shadow: none;
}

::selection {

	background: #b3d4fc;
	text-shadow: none;
}

body {

	background-color: white;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

hr {

	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

a {

	color: #337ab7;
	text-decoration: none;
}

a:hover {

	color: #23527c;
}

/* Remove the gap between audio, canvas, iframes, */

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

sub, sup {

	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre {

	font-family: monospace;
	font-size: inherit;
	padding: 15px;
	margin-bottom: 15px;
	background: #F1F1F1;
	color: #888;
	white-space: pre-wrap;

	/* border-radius */
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

code {

	font-family: monospace;
	font-size: inherit;
	padding: 2px 4px;
	background: #F1F1F1;
	color: #888;

	/* border-radius */
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

div,
header,
footer,
article,
section {

	display: block;
	position: relative;
}

small, .font-small { font-size: 0.8em; }

textarea { resize: vertical; }

/* Responsive Helpers */
/* ---------------------------------------------------------------------------------------------- */

/* Show */

.show-mobile { display: block !important; }
.show-tablet { display: none !important; }
.show-desktop { display: none !important; }

.show-mobile-inline { display: inline-block !important; *display: inline !important; *zoom: 1; }
.show-tablet-inline { display: none !important; }
.show-desktop-inline { display: none !important; }

.show-mobile-table { display: table !important; }
.show-tablet-table { display: none !important; }
.show-desktop-table { display: none !important; }

.show-mobile-table-cell { display: table-cell !important; }
.show-tablet-table-cell { display: none !important; }
.show-desktop-table-cell { display: none !important; }

/* Hide */

.hide-mobile { display: none !important; }
.hide-tablet { display: block !important; }
.hide-desktop { display: block !important; }

.hide-mobile-inline { display: none !important; }
.hide-tablet-inline { display: inline-block !important; *display: inline !important; *zoom: 1; }
.hide-desktop-inline { display: inline-block !important; *display: inline !important; *zoom: 1; }

.hide-mobile-table { display: none !important; }
.hide-tablet-table { display: table !important; }
.hide-desktop-table { display: table !important; }

.hide-mobile-table-cell { display: none !important; }
.hide-tablet-table-cell { display: table-cell !important; }
.hide-desktop-table-cell { display: table-cell !important; }

@media (min-width: 768px) {

	/* Show */

	.show-mobile { display: none !important; }
	.show-tablet { display: block !important; }

	.show-mobile-inline { display: none !important; }
	.show-tablet-inline { display: inline-block !important; *display: inline !important; *zoom: 1; }

	.show-mobile-table { display: none !important; }
	.show-tablet-table { display: table !important; }

	.show-mobile-table { display: none !important; }
	.show-tablet-table-cell { display: table-cell !important; }

	/* Hide */

	.hide-mobile { display: block !important; }
	.hide-tablet { display: none !important; }

	.hide-mobile-inline { display: inline-block !important; *display: inline !important; *zoom: 1; }
	.hide-tablet-inline { display: none !important; }

	.hide-mobile-table { display: table !important; }
	.hide-tablet-table { display: none !important; }

	.hide-mobile-table { display: table-cell !important; }
	.hide-tablet-table-cell { display: none !important; }
}

@media (min-width: 1000px) {

	/* Show */

	.show-tablet { display: none !important; }
	.show-desktop { display: block !important; }

	.show-tablet-inline { display: none !important; }
	.show-desktop-inline { display: inline-block !important; *display: inline !important; *zoom: 1; }

	.show-tablet-table { display: none !important; }
	.show-desktop-table { display: table !important; }

	.show-tablet-table-cell { display: none !important; }
	.show-desktop-table-cell { display: table-cell !important; }

	/* Hide */

	.hide-tablet { display: block !important; }
	.hide-desktop { display: none !important; }

	.hide-tablet-inline { display: inline-block !important; *display: inline !important; *zoom: 1; }
	.hide-desktop-inline { display: none !important; }

	.hide-tablet-table { display: table !important; }
	.hide-desktop-table { display: none !important; }

	.hide-tablet-table-cell { display: table-cell !important; }
	.hide-desktop-table-cell { display: none !important; }
}

/* Clear Fixes */
/*------------------------------------------------------------------------------------------------*/

br.clear {

	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 0 0;
}

.cf:before,
.cf:after {

	content: " ";
	display: table;
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* The Content */
/*------------------------------------------------------------------------------------------------*/

.the-content img {

	max-width: 100%;
	height: auto;
}

.the-content p { margin-bottom: 15px; }

.the-content h1, .the-content .h1,
.the-content h2, .the-content .h2,
.the-content h3, .the-content .h3,
.the-content h4, .the-content .h4,
.the-content h5, .the-content .h5,
.the-content h6, .the-content .h6 {

	margin-bottom: 15px;
	font-weight: inherit;
}

.the-content h1, .the-content .h1 { font-size: 2em; line-height: 1.5; }
.the-content h2, .the-content .h2 { font-size: 1.5em; line-height: 1; }
.the-content h3, .the-content .h3 { font-size: 1.2em; line-height: 1.2; }
.the-content h4, .the-content .h4 { font-size: 1.125em; line-height: 1.333; }
.the-content h5, .the-content .h5 { font-size: 1em; line-height: 1.5; }
.the-content h6, .the-content .h6 { font-size: 1em; line-height: 1.5; }

.the-content h1 small, .the-content .h1 small
.the-content h2 small, .the-content .h2 small
.the-content h3 small, .the-content .h3 small
.the-content h4 small, .the-content .h4 small
.the-content h5 small, .the-content .h5 small
.the-content h6 small  .the-content .h6 small{

	font-size: 75%;
}

.the-content ol,
.the-content ul,
.the-content dl {

	margin-left: 30px;
	margin-bottom: 15px;
}

.the-content li,
.the-content dt {

	margin-bottom: 15px;
}

.the-content a:hover {

	text-decoration: underline;
}

.the-content .alignleft,
.the-content .alignright,
.the-content .aligncenter,
.the-content .alignnone {

	display: block;
	margin: 10px auto;
}

.the-content .alignnone { float: none; display: inline; }

@media (min-width: 1000px) {

	.the-content .alignleft {

		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.the-content .alignright {

		float: right;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.the-content .aligncenter {

		display: block;
		margin: 10px auto;
	}
}
/* 	    ____        __  __
	   / __ )__  __/ /_/ /_____  ____  _____
	  / __  / / / / __/ __/ __ \/ __ \/ ___/
	 / /_/ / /_/ / /_/ /_/ /_/ / / / (__  )
	/_____/\__,_/\__/\__/\____/_/ /_/____/
											 */

/* Core */
/*------------------------------------------------------------------------------------------------*/

button {

	overflow: visible;
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {

	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {

	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {

	border: 0;
	padding: 0;
}

.button {

	/* Structure */
	display: inline-block;
	*display: inline;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	/* User Select */
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {

	padding: 0;
	border: 0;
}

/* Styles */
/*------------------------------------------------------------------------------------------------*/

.button {

	text-transform: none;
	font-family: inherit;
	font-size: 100%;
	*font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
	*overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
	padding: 0.429em 1.2em;
	color: white; /* rgba not supported (IE 8) */
	*color: white; /* IE 6 & 7 */
	border: 1px solid #7F8C8D;
	background-color: #7F8C8D;
	text-decoration: none;
	border-radius: 2px;
	font-weight: 300;
	height: 2.4em;
	line-height: 1.542em;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;

	-webkit-transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
	   -moz-transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
		-ms-transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
		 -o-transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
			transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
}

.buttton-hover, .button:hover { background-color: #95A5A6; color: white; }

.button:focus { outline: 0; }

.button[disabled],
.button-disabled,
.button-disabled:hover {

	border: none;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	filter: alpha(opacity=40);
	-khtml-opacity: 0.40;
	  -moz-opacity: 0.40;
		   opacity: 0.40;
	cursor: not-allowed;
	box-shadow: none;
}

.button-hidden { display: none; }

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {

	padding: 0;
	border: 0;
}

.button-block {

	display: block;
	width: 100%;
}

.button-link {

	color: #337ab7;
	background: none;
	border-color: transparent;
}

.button-link:hover {

	color: #23527c;
	background: transparent;
	text-decoration: underline;
}

/* Colors */
/* ---------------------------------------------------------------------------------------------- */

.button-primary, .button-selected { background-color: #2980B9; border-color: #2980B9; }
.button-primary:hover, .button-selected:hover { background-color: #3498DB; }

.button-success { background-color: #27AE60; border-color: #27AE60; }
.button-success:hover { background-color: #2ECC71; }

.button-error { background-color: #C0392B; border-color: #C0392B; }
.button-error:hover { background-color: #E74C3C; }

.button-warning { background-color: #D35400; border-color: #D35400; }
.button-warning:hover { background-color: #e67e22; }

.button-facebook { background-color: #2D5F9A; border-color: #2D5F9A; }
.button-facebook:hover { background-color: #567EAE; }

.button-twitter { background-color: #55ACEE; border-color: #55ACEE; }
.button-twitter:hover { background-color: #76BCF1; }

.button-linkedin { background-color: #2189BE; border-color: #2189BE; }
.button-linkedin:hover { background-color: #4DA0CB; }

.button-pinterest { background-color: #D11E16; border-color: #D11E16; }
.button-pinterest:hover { background-color: #DA4A44; }

.button-rss { background-color: #F60; border-color: #F60; }
.button-rss:hover { background-color: #FF8432; }

/* Sizes */
/* ---------------------------------------------------------------------------------------------- */

.button-xsmall 	{ font-size: 70%; }
.button-small 	{ font-size: 85%; }
.button-large 	{ font-size: 110%; }
.button-xlarge 	{ font-size: 125%; }

/* Borders */
/*------------------------------------------------------------------------------------------------*/

.button-square 	{ border-radius: 0; }
.button-pill 	{ border-radius: 100px; }

/* Outline Buttons */
/*------------------------------------------------------------------------------------------------*/

.button-outline {

	background-color: transparent;
	color: #7F8C8D;
	border: 1px solid #7F8C8D;
}

.button-outline:hover {

	color: white;
	background-color: #7F8C8D;
}

.button-outline-primary { color: #2980B9; border-color: #2980B9; }
.button-outline-primary:hover { background-color: #2980B9; }

.button-outline-success { color: #27AE60; border-color: #27AE60; }
.button-outline-success:hover { background-color: #27AE60; }

.button-outline-warning { color: #D35400; border-color: #D35400; }
.button-outline-warning:hover { background-color: #D35400; }

.button-outline-error { color: #C0392B; border-color: #C0392B; }
.button-outline-error:hover { background-color: #C0392B; }
/* 	    ______
	   / ____/___  _________ ___  _____
	  / /_  / __ \/ ___/ __ `__ \/ ___/
	 / __/ / /_/ / /  / / / / / (__  )
	/_/    \____/_/  /_/ /_/ /_/____/
										*/

/* Core */
/*------------------------------------------------------------------------------------------------*/

.form-control {

	line-height: normal;
	vertical-align: middle;
	-webkit-user-drag: none;

	/* Structure */
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.form-control:disabled {

	cursor: not-allowed;
}


/* Form Group */
/* ---------------------------------------------------------------------------------------------- */

.form-group {

	margin-bottom: 10px;
}

.form-group .control-label {

	display: block;
	margin-bottom: 4px;
}

.form-control {

	text-transform: none;
	font-size: inherit;
	font-family: inherit;
	font-size: 100%;
	*font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
	*overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */

	vertical-align: middle;
	background: #FFF;
	color: #555;
	border: 1px solid #DDD;
	padding: 0.429em;
	font-weight: 300;
	height: 2.4em;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;

	/* border-radius */
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
}

.form-group .form-control:disabled {

	background-color: #E1E1E1;
}

.form-group .form-control[readonly] {

	background-color: #F6F6F6;
}

.form-group .form-control:focus {

	border-color: #CCC;
}

.form-group textarea.form-control { height: auto; }

.form-group select.form-control { padding: 0.35em 0.429em; }

.form-group .form-control-xsmall { font-size: 70%; }
.form-group .form-control-small { font-size: 85%; }
.form-group .form-control-large { font-size: 110%; }
.form-group .form-control-xlarge { font-size: 125%; }

.form-group .input-block {

	width: 100%;
	display: block;

	/* box-sizing */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}


.form-group .radio {

	padding-left: 16px;
}

.form-group .checkbox input[type=checkbox] {

	float: left;
	margin: 1px 0 0 -16px;
}

.form-group .radio input[type=radio] {

	float: left;
	margin: 1px 0 0 -16px;
}

.form-group .help-block,
.form-group .feedback-block {

	display: block;
	margin: 10px 0;
	color: #999;
}

.form-group .required {

	color: #C00;
}

.form-group.has-error .control-label,
.form-group.has-error .form-control,
.form-group.has-error .feedback-block {

	color: #C00;
}

.form-group.has-success .control-label,
.form-group.has-success .form-control,
.form-group.has-success .feedback-block {

	color: #437F1A;
}

.form-group.has-error .form-control 	{ border-color: #C00;    }
.form-group.has-success .form-control 	{ border-color: #437F1A; }

.form-group .radio label,
.form-group .checkbox label {

	display: block;
	padding-left: 18px;
}

.form-group.has-error .radio label,
.form-group.has-error .checkbox label {

	color: #CC0000;
}

.form-group.has-success .radio label,
.form-group.has-success .checkbox label {

	color: #437F1A;
}
/* 	   ______     _     __
	  / ____/____(_)___/ /
	 / / __/ ___/ / __  /
	/ /_/ / /  / / /_/ /
	\____/_/  /_/\__,_/
						   */

/* Inner */
/* ---------------------------------------------------------------------------------------------- */

.inner {

	max-width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 1000px) {

	.inner {

		width: 1000px;
		max-width: none;
	}
}

/* Responsive grid */
/*------------------------------------------------------------------------------------------------*/

.row .col {

	/* box-sizing */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;

	/* background-clip */
	-webkit-background-clip: padding-box !important;
	   -moz-background-clip: padding-box !important;
			background-clip: padding-box !important;
}

@media screen and (min-width: 768px) {

	.row-md:before,
	.row-md:after {

		display: table;
		content: "";
	}

	.row-md:after {

		clear: both;
	}

	.row-md {

		margin-left: -15px;
		margin-right: -15px;
	}

	.row-md .col {

		float: left;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.row.row-10 		{ margin: 0 -10px; }
	.row.row-5 			{ margin: 0 -5px; }
	.row.row-collapse 	{ margin: 0 0; }

	.row.row-10 > .col 			{ padding-left: 10px; padding-right: 10px; }
	.row.row-5 > .col 			{ padding-left: 5px; padding-right: 5px; }
	.row.row-collapse > .col 	{ padding-left: 0; padding-right: 0; }

	.row-md .col.col-md-3 	{ width: 25.0%; }
	.row-md .col.col-md-4 	{ width: 33.3333333333%; }
	.row-md .col.col-md-6 	{ width: 50.0%; }

	.row-md .col.col-offset-md-3 	{ margin-left: 25.0%; }
	.row-md .col.col-offset-md-4 	{ margin-left: 33.3333333333%; }
	.row-md .col.col-offset-md-6 	{ margin-left: 50.0%; }
}

@media screen and (min-width: 1000px) {

	.row:before,
	.row:after {

		display: table;
		content: "";
	}

	.row:after {

		clear: both;
	}

	.row {

		margin-left: -15px;
		margin-right: -15px;
	}

	.row .col {

		float: left;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.row .col.col-1 	{ width: 8.33333333333%; }
	.row .col.col-2 	{ width: 16.6666666667%; }
	.row .col.col-3 	{ width: 25.0%; }
	.row .col.col-4 	{ width: 33.3333333333%; }
	.row .col.col-5 	{ width: 41.6666666667%; }
	.row .col.col-6 	{ width: 50.0%; }
	.row .col.col-7 	{ width: 58.3333333333%; }
	.row .col.col-8 	{ width: 66.6666666667%; }
	.row .col.col-9 	{ width: 75.0%; }
	.row .col.col-10 	{ width: 83.3333333333%; }
	.row .col.col-11 	{ width: 91.6666666667%; }
	.row .col.col-12 	{ margin-left: 0; width: 100%; }

	.row .col.col-offset-1 		{ margin-left: 8.33333333333%; }
	.row .col.col-offset-2 		{ margin-left: 16.6666666667%; }
	.row .col.col-offset-3 		{ margin-left: 25.0%; }
	.row .col.col-offset-4 		{ margin-left: 33.3333333333%; }
	.row .col.col-offset-5 		{ margin-left: 41.6666666667%; }
	.row .col.col-offset-6 		{ margin-left: 50.0%; }
	.row .col.col-offset-7 		{ margin-left: 58.3333333333%; }
	.row .col.col-offset-8 		{ margin-left: 66.6666666667%; }
	.row .col.col-offset-9 		{ margin-left: 75.0%; }
	.row .col.col-offset-10 	{ margin-left: 83.3333333333%; }
	.row .col.col-offset-11 	{ margin-left: 91.6666666667%; }
	.row .col.col-offset-12 	{ margin-left-left: 0; }
}

/* Shaded */
/* ---------------------------------------------------------------------------------------------- */

.row.shaded .col {

	min-height: 30px;
	line-height: 30px;
	background: #DDD;
	text-align: center;
	color: #666;
	border: 1px solid #CCC;
}

.row.shaded .col span {

	display: block;
	margin: 5px 0;
	background-color: #F0F0F0;
}

.row.shaded .col .col {

	background: #F1F1F1;
}
/*	    __  __     __
	   / / / /__  / /___  ___  __________
	  / /_/ / _ \/ / __ \/ _ \/ ___/ ___/
	 / __  /  __/ / /_/ /  __/ /  (__  )
	/_/ /_/\___/_/ .___/\___/_/  /____/
				/_/                      */

/**
	=======================================
	INDEX =================================
	=======================================

	+ General
	+ Message
	+ Columns
	+ Media
	+ Images
	+ Vertical Alignment
	+ Embeds

	=======================================
**/

/* General Helpers */
/*------------------------------------------------------------------------------------------------*/

[hide] 	{ display: none !important; }
.hide 	{ display: none !important; }

[show] 	{ display: block !important; }
.show 	{ display: block !important; }

.text-muted 	{ color: #888;    }
.text-success 	{ color: #528217; }
.text-info 		{ color: #155083; }
.text-error 	{ color: #AB3101; }

.no-text {

	text-align: left;
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
}

.margins 		{ margin: 15px; }
.margins-horz 	{ margin: 0 15px; }
.margins-vert 	{ margin: 15px 0; }

.margins.margins-5 			{ margin: 5px; }
.margins.margins-10 		{ margin: 10px; }

.margins-horz.margins-5 	{ margin: 0 5px; }
.margins-horz.margins-10 	{ margin: 0 10px; }

.margins-vert.margins-5 	{ margin: 5px 0; }
.margins-vert.margins-10 	{ margin: 10px 0; }

.boxfix 		{ padding: 1px; }
.boxfix-horz 	{ padding: 0 1px; }
.boxfix-vert 	{ padding: 1px 0; }

.pull-left 		{ float: left; }
.pull-right 	{ float: right; }

.text-left 		{ text-align: left; }
.text-right 	{ text-align: right; }
.text-center	{ text-align: center; }
.text-justify 	{ text-align: justify; }

.bold 			{ font-weight: 700; }
.thin 			{ font-weight: 300; }
.regular 		{ font-weight: 400; }

.italic 		{ font-style: italic; }
.underline 		{ font-style: underline; }

.break-word 	{ word-wrap: break-word; }
.no-wrap 		{ white-space: nowrap; }

.truncate {

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inner {

	width: 1000px;
	margin: 0 auto;
}

/* Message */
/* ---------------------------------------------------------------------------------------------- */

.message {

	padding: 15px;
	margin-bottom: 15px;
}

.message a {

	font-weight: 700;
}

.message.message-default {

	background: #F1F1F1;
	color: #444;
}

.message.message-success {

	background: #DEF4C2;
	color: #528217;
}

.message.message-info {

	background: #DCEBF9;
	color: #155083;
}

.message.message-error {

	background: #FEE2D7;
	color: #AB3101;
}

.message.message-default a 	{ color: #444;    }
.message.message-success a 	{ color: #528217; }
.message.message-info a 	{ color: #155083; }
.message.message-error a 	{ color: #AB3101; }

/* Columns */
/* ---------------------------------------------------------------------------------------------- */

.column 		{ float: left; }
.column-half 	{ width: 50%; }
.column-third 	{ width: 33.3333333333%; }
.column-fourth 	{ width: 25%; }
.column-fifth 	{ width: 20%; }

/* Box */
/*------------------------------------------------------------------------------------------------*/

.box {

	padding: 15px;
	margin-bottom: 15px;
}

.box.box-default {

	background: #F1F1F1;
}

/* Media */
/*------------------------------------------------------------------------------------------------*/

.media {

	overflow: hidden;
	margin-bottom: 15px;
}

.media .media-object {

	float: left;
	margin: 0 10px 0 0;
}

.media .media-details {

	overflow: hidden;
	text-align: left;
}

.media.media-right .media-object {

	float: right;
	margin: 0 0 0 10px;
}

.media.media-right .media-details {

	text-align: right;
}

/* Images */
/*------------------------------------------------------------------------------------------------*/

img.img-rounded {

	/* border-radius */
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
}

img.img-thumbnail {

	padding: 5px;
	background: #FFF;
	border: 1px solid #CCC;
}

img.img-circle {

	/* border-radius */
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
			border-radius: 100%;
}

img.img-shadow {

	/* box-shadow */
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
	   -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

img.img-responsive {

	max-width: 100%;
	height: auto;
}

/* Vertical Alignment */
/* ---------------------------------------------------------------------------------------------- */

.valign-wrapper {

	display: table;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}

.valign {

	vertical-align: middle;
	display: table-cell;
}

/* Embeds */
/* ---------------------------------------------------------------------------------------------- */

.embed-responsive {

	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-responsive iframe,
.embed-responsive object,
.embed-responsive embed {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*	  ______      __    __
	 /_  __/___ _/ /_  / /__  _____
	  / / / __ `/ __ \/ / _ \/ ___/
	 / / / /_/ / /_/ / /  __(__  )
	/_/  \__,_/_.___/_/\___/____/
	                                */

/* Core */
/*------------------------------------------------------------------------------------------------*/

table {

	max-width: 100%;
}

table.table {

	width: 100%;
	margin-bottom: 15px;
}

table.table th,
table.table td {

	padding: 10px 12px;
}

table.table > thead > tr > th,
table.table > tfoot > tr > th {

	text-align: left;
}

table.table > thead > tr,
table.table > tbody > tr {

	border-bottom: 1px solid #DDD;
}

table.table > thead > tr{

	border-bottom: 2px solid #DDD;
}

table.table > tfoot > tr {

	border-top: 2px solid #DDD;
}

table.table-border {

	border: 1px solid #DDD;
}

table.table.table-striped > tbody > tr:nth-child(even) > td {

	background: #F6F6F6;
}

table.table.table-hover > tbody > tr:hover > td {

	background: #F4F4F4;
}

table.table.table-hover.table-striped > tbody > tr:nth-child(even):hover > td {

	background: #F1F1F1;
}