html, body {

	height: 100%;
	padding-top: 40px;
}

.generador-wrapper {

	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -64px;
}

.generador-footer, .generador-push {

	height: 64px;
}

.generador-header {

	background: #FFC107;
	color: #FFFFFF;
	border-bottom: 10px solid #FFA000;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.generador-header h2 {

	font-size: 28px;
	font-weight: 300;
}

.generador-footer {

	background: #FFC107;
	color: #FFFFFF;
}

.generador-footer .footer-copyright span {

	display: block;
	text-align: center;
}

form {

	margin-bottom: 15px;
}

.box-output {

	border: 2px solid #B2DFDB;
	margin-bottom: 0;
}

.codemirror {

	margin-bottom: 0;
}

.CodeMirror {

	height: auto;
	min-height: 400px;
}

@media (min-width: 1000px) {

	.generador-wrapper {

		margin: 0 auto -48px;
	}

	.generador-footer, .generador-push {

		height: 48px;
	}

	.generador-footer .footer-copyright span.copyright-left {

		float: left;
	}

	.generador-footer .footer-copyright span.copyright-right {

		float: right;
	}

	form {

		margin-bottom: 0;
	}

	.box-output {

		overflow: auto;
	}

	.CodeMirror {

		height: auto;
		min-height: 735px;
	}
}